# Ignore all compiled C++ object files and executables
*.o
*.out
*.exe

# Ignore everything inside the build folder...
modern_cpp/build/*

# ...Except for this specific placeholder file (Git doesn't track empty folders)
!modern_cpp/build/.gitkeep